<!DOCTYPE html>
<html>
	<head>
		<link
			rel="icon"
			href="https://gw.alipayobjects.com/zos/antfincdn/aPkFc8Sj7n/method-draw-image.svg"
			type="image/svg+xml"
		/>
		<title><%= title %></title>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
